md-grid-list(md-cols="2", md-row-height="400px")
    md-grid-tile(ng-repeat="book in catalog.books track by book.id")
        section
            h2 {{::book.title}}
            img(ng-src="{{book.cover}}")